<!-- ======================= SIDENAV MENU SECTION ========================== -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="menu">
  <md-toolbar>
    <h1 class="md-toolbar-tools">Beam</h1>
  </md-toolbar>
  <md-content>
    <md-list layout-margin>
      <md-list-item layout-align="center center">
        <md-button ng-click="header.closeMenu()" ng-bind="'Close' | uppercase" aria-label="Close"></md-button>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>
<!-- ========================= END MENU SECTION ============================ -->

<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="header.openMenu()">
      <ng-md-icon class="fix-icon-align" icon="menu"></ng-md-icon>
    </md-button>
    <h2>
      <span>Beam</span>
    </h2>
    <span flex></span>
    <md-button ng-if="!isAuthenticated" ng-click="login()" layout-align="center center">
      <span>Login</span>
      <ng-md-icon icon="login"></ng-md-icon>
    </md-button>
    <md-menu ng-if="isAuthenticated">
      <md-button class="md-icon-button" aria-label="Account" ng-click="header.openAccountMenu($mdOpenMenu, $event)">
        <ng-md-icon class="fix-icon-align" icon="account_box"></ng-md-icon>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item layout="row" layout-align="center center">
          <md-button ng-click="logout()">
            <span flex=20></span>
            <span>Logout</span>
            <ng-md-icon icon="logout"></ng-md-icon>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
